<% if @new_user.errors.any? %>
  <% @new_user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>
<div class="users">
<%= form_for [@new_user] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "SAVE!" %>
<% end %>
</div>